body{
    background-image: url(resources/index/forest-wallpaper-1510477081.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}